# Database
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=EcommerceDB
MYSQL_PORT=3306

# Spring Boot Datasource
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/EcommerceDB?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&useUnicode=true&characterEncoding=UTF-8&connectionCollation=utf8mb4_unicode_ci
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root

# App
SERVER_PORT=8080
SERVER_CONTEXT_PATH=/VitaStore
FRONTEND_API_BASE_URL=http://localhost:3000
